:root {
    --primary-color: rgba(1, 46, 131, .9);
    --secondary-color: #666;
    --background-color: #fff;
    --border-color: #ddd;
    --padding: 20px;
}

.home {
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)), url(public/Images/1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
}

.tile {
    width: 300px;
    margin-left: 40px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.tile p {
    color: var(--secondary-color);
}

.tile .apart-cont,
.tile .tour-direc {
    display: flex;
    justify-content: space-between;
}

.tile .address {
    text-align: center;
    padding: var(--padding);
    border-bottom: 1px solid var(--border-color);
}

.tile div div {
    border: 1px solid var(--border-color);
    padding: var(--padding);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile div i {
    font-size: 30px;
    color: var(--secondary-color);
}

.tile .schedule {
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: var(--primary-color);
}

.tile .schedule i {
    margin: 0 10px 0 70px;
    color: #fff;
}

.tile .schedule p {
    color: #fff;
}
.about {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.about h1{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.about p{
    font-size: 20px;
    width: 800px;
    
    padding: 20px;
    
}


.container{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    max-width: 200vh;
    /* margin: 50px auto; */
    /* padding: 20px; */
    /* border-radius: 8px; */
    gap: 5px;
    height: 50vh;
    /* position: relative; */
    /* margin: 5px; */
    padding: 6px;

}
.text-section{
    width: 25%;
}
.images{
     display: flex; 
    /* flex-direction: column; */
     flex: 1;
    width: 60%;
    position: relative;
    padding: 6px;

}
.top-image{ 
 width: 100%;
 /* height: auto; */

 position: relative;
 margin-bottom: -50;
 box-shadow: #222;

}
.bottom-image {
width: 90%;
height: auto;
border-radius: 10px;
position: relative;

}

.Amenities {
    min-height: 90vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)), url(public/Images/1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
}

.Amenities .tile {
    width: 300px;
    margin-left: 900px;
    background-color: white;
    height: 300px;
    opacity: var(--background-color);
    text-align: center;
}
.Amenities h2{
    padding-top: 20px;
}